.config {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.border {
  border: 1px solid red;
}

.sketch {
  flex: 0;
  width: 60%;
  border: 1px solid red;
}
